[submodule "public/resonance.cdn"]
	path = public/resonance.cdn
	url = https://github.com/resonance-rest/cdn.git
[submodule "public/resonance.api"]
	path = public/resonance.api
	url = https://github.com/resonance-rest/api.git
